<table class="table-bordered text-center" width="430px" >
<% @player_one.each_index do |i| %>
    <tr>
<% @player_one[i].each_index do |j| %>
      <td>
<%= @player_one[i][j].to_s %>
      </td>
    <% end %>
    </tr>
<% end %>
</table>

<%= @pos %>

