<ul id="Корабли">
  <li>foo 1</li>
  <li>foo 1</li>
  <li>foo 1</li>
  <li>foo 1</li>
  <li>foo 2</li>
  <li>foo 2</li>
  <li>foo 2</li>
  <li>foo 3</li>
  <li>foo 3</li>
  <li>foo 4</li>
</ul>

<ul id="Поле">
  <li>bar 1</li>
  <li>bar 2</li>
</ul>